.video-wrapper {
    background-color:lightblue;
    width:650px;
    height:650px;
    padding:50px;
    margin:50px;
}
.sub_background{
    background-color: black;
    width:500px;
    height:550px;
    margin:50px;
}
.subtitles {
    font-family: "Times New Roman";
    text-align: left;
    color:white;
    margin-left:20px;
}
h2 {
 margin:50px;
}
col-sm-6 {
 width:500px;
 height:500px;
 margin:50px;
 padding:20px;
}
.container-fluid {
    text-align: center;
    margin: auto;
    width: 50%;
    position: absolute;
    background-image: linear-gradient(to bottom right, Slateblue,white);
}
iframe {
    width:"640";
    height:"360";
    
}