.video-wrapper {
    padding-top:100px;
    padding-bottom: 100px
}
.sub_background{
    background-color: black;
    width:500px;
    height:550px;
    margin:50px;
}
.subtitles {
    font-family: "Times New Roman";
    text-align: left;
    color:white;
    margin-left:20px;
}
h2 {
 margin:50px;
}
col-sm-6 {
 width:650px;
 height:650px;
 padding:50px;
 margin:50px;
}
body {
    text-align: center;
    display:block;
    margin: auto;
    width: 100%;
    left:50px;
    position: relative;
    background-image: linear-gradient(to bottom right, Slateblue,white);
    height:1000px;
}
iframe {
    width:"560";
    height:"360";
    
}